@use "../../variables" as *;
.welcome-container {
  position: fixed;
  height: 95vh;
  width: 100vw;
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .welcome-span {
    font-size: var(--welcome-font-size);
    font-weight: bolder;
    font-family: "Kanit", sans-serif;
    color: transparent;
    background: linear-gradient(to right, var(--text-100), var(--text-200));
    background-clip: text;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .canvas-container {
      height: var(--canvas-size);
      width: var(--canvas-size);
      bottom: -20px;
    }
  }
}

@keyframes welcome-progress {
  from {
    scale: 1;
  }
  to {
    scale: -0.5;
  }
}
@keyframes welcome-progress-phone {
  from {
    scale: 1;
  }
  to {
    scale: 0.5;
  }
}
@media screen and (min-width: 1650px) {
  .welcome-span {
    --welcome-font-size: 120px;
  }
}

@media screen and (min-width: 1236px) and (max-width: 1650px) {
  .welcome-span {
    --welcome-font-size: 90px;
  }
}
@media screen and (max-width: 1236px) {
  .welcome-span {
    --welcome-font-size: 80px;
  }
}

@media screen and (orientation: landscape) {
  .welcome-container {
    @include scroll-animation(welcome-progress);
    --padding: 40px;
    .canvas-container {
      --canvas-size: 35vw;
    }
  }
}

@media screen and (orientation: portrait) {
  .welcome-container {
    .welcome-span {
      --welcome-font-size: 60px;
    }
    @include scroll-animation(welcome-progress-phone);
    --padding: 15px;
    .content-container {
      flex-direction: column;
      flex-grow: 1;
      margin-top: 5vh;
      align-items: flex-end;
      .canvas-container {
        --canvas-size: 60vw;
      }
    }
  }
}
