.requirement-container {
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--bg-100);
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .requirement-content {
    height: var(--content-size);
    width: var(--content-size);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--padding);
    box-sizing: border-box;
    color: var(--text-100);
    &:hover div {
      border: 6px solid var(--clr);
      filter: drop-shadow(0 0 20px var(--clr));
    }
    div {
      position: absolute;
      height: var(--border-size);
      width: var(--border-size);
      left: var(--border-translate);
      top: var(--border-translate);
      border: 3px solid var(--bg-300);
      transition: all 0.4s ease-in-out;
    }
    .item-1 {
      border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
      animation: animate 6s linear infinite;
      --clr: #00ff0a;
    }
    .item-2 {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate 4s linear infinite;
      --clr: #ff0057;
    }
    .item-3 {
      border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
      animation: animate2 10s linear infinite;
      --clr: #fffd44;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (orientation: landscape) {
  .requirement-content {
    --content-size: 30vw;
    --padding: 25px;
    div {
      --border-size: 42vw;
      --border-translate: -6vw;
    }
  }
}

@media screen and (orientation: portrait) {
  .requirement-content {
    --content-size: 100vw;
    --padding: 16vw;
    div {
      --border-size: 96vw;
      --border-translate: 0;
      border: 2px solid var(--clr) !important;
      filter: drop-shadow(0 0 10px var(--clr));
    }
  }
}
