@mixin animation($animation-name) {
  animation-name: $animation-name;
  animation-timeline: view();
  animation-fill-mode: forwards;
  animation-range: entry 0%;
}
.projects-card-container {
  @include animation(content-progress-right);
  width: var(--container-width);
  height: var(--container-height);
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
  transform-style: preserve-3d;
  perspective: 3000px;
  .projects-card-item {
    height: var(--card-height);
    width: var(--card-width);
    background-color: var(--accent-200);
    position: absolute;
    border-radius: var(--card-radius);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    top: var(--card-top);
    left: var(--card-left);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0, 0.02, 0, 1);
    padding: var(--card-padding);
    box-sizing: border-box;
    color: var(--accent-100);
    .button-go {
      right: 4%;
      bottom: 3%;
      position: absolute;
    }
  }
  .preview-card-disappear {
    transform: translateX(calc(var(--item-translate-x) * -2))
      translateY(calc(var(--item-translate-y) * -2))
      rotateZ(calc(var(--item-deg) * (-2)));
    opacity: 0;
  }
  .preview-card {
    transform: translateX(calc(var(--item-translate-x) * (-1)))
      translateY(calc(var(--item-translate-y) * (-1)))
      rotateZ(calc(var(--item-deg) * (-1)));
    opacity: var(--phone-opacity);
  }
  .now-card {
    z-index: 1;
  }
  .next-card {
    transform: translateX(calc(var(--item-translate-x)))
      translateY(calc(var(--item-translate-y))) rotateZ(calc(var(--item-deg)));
  }
  .next-card-disappear {
    transform: translateX(calc(var(--item-translate-x) * 2))
      translateY(calc(var(--item-translate-y) * 2))
      rotateZ(calc(var(--item-deg) * (2)));
    opacity: 0;
  }
  .disappear {
    display: none !important;
  }

  .last-item {
    font-size: 30px;
  }
}

@keyframes content-progress-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

.want {
  opacity: 1 !important;
  z-index: 2 !important;
}

@media screen and (orientation: landscape) {
  .projects-card-container {
    --container-width: 100%;
    .projects-card-item {
      --card-width: 25%;
      --card-height: 60%;
      --card-radius: 20px;
      --card-padding: 20px;
      --item-translate-x: 18vw;
      --item-translate-y: 22vh;
      --item-deg: 12deg;
      --card-top: 28vh;
      --card-left: 52vw;
    }
    .next {
      transform: translateZ(3000px) translateX(-67%);
    }
  }
}

@media screen and (orientation: portrait) {
  .projects-card-container {
    height: 100vh !important;
    --container-width: 100%;
    .projects-card-item {
      --card-width: 60%;
      --card-height: 28%;
      --card-radius: 10px;
      --card-padding: 10px;
      --item-translate-x: 18vw;
      --item-translate-y: 22vh;
      --item-deg: 30deg;
      --card-top: 70%;
      --card-left: 30vw;
    }
    .preview-card {
      --phone-opacity: 0;
    }

    .button-go {
      --right: 4%;
      --bottom: 3%;
    }
    .button-next {
      position: absolute;
      left: 20%;
      bottom: 3%;
    }
    .button-pre {
      position: absolute;
      left: 4%;
      bottom: 3%;
    }
    .next {
      transform: translateZ(3000px) translateY(-160%);
    }
  }
}
