@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  --primary-100: #2c3e50;
  --primary-200: #57687c;
  --primary-300: #b4c7dd;
  --accent-100: #f7cac9;
  --accent-200: #926b6a;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #f2f2f2;
  --bg-200: #e8e8e8;
  --bg-300: #bfbfbf;
  // --primary-100: #0085ff;
  // --primary-200: #69b4ff;
  // --primary-300: #e0ffff;
  // --accent-100: #006fff;
  // --accent-200: #e1ffff;
  // --text-100: #ffffff;
  // --text-200: #9e9e9e;
  // --bg-100: #1e1e1e;
  // --bg-200: #2d2d2d;
  // --bg-300: #454545;

  font-family: "Kanit", sans-serif;
  transition: all 0.05s ease-in-out;
}
