@mixin content {
  position: absolute;
  color: var(--text-100);
  width: 500px;
}

@mixin animation($animation-name) {
  animation-name: $animation-name;
  animation-timeline: view();
  animation-fill-mode: forwards;
  animation-fill-mode: linear;
  animation-range: entry 0%;
}
.education-back-container {
  @include content();
  top: 700px;
  left: 200px;
  @include animation(content-progress-left);
}
.ability-back-container {
  @include content();
  top: 1400px;
  left: 200px;
  @include animation(content-progress-left);
}

.practice-back-container {
  @include content();
  top: 2600px;
  right: 350px;
  @include animation(content-progress-right);
}

@keyframes content-progress-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes content-progress-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
